@media only screen and (min-width: 768px){

  main{
  
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
  }

  header {
    height: 26rem;
    border-radius: 1.5rem;
    margin-top: 2rem;
  }

  h1 {
    font-size: 8rem;
  }

  .card {
    width: 25rem;
    height: auto;
    position: relative;
    width: 23rem;
    
  }

  .card_bills {
    background-color: #EA5200;
    z-index: 1;
    position: relative;
    top: auto;
  }
  .card_food {
    background-color: #EA175D;
    z-index: 2;
    position: relative;
    top: auto;
  }
  
  .card_clothes {
    background-color: #071738;
    z-index: 3;
    position: relative;
    top: auto;
  }
  
  
  .card_entertain {
    background-color: #EA5200;
    position: relative;
    top: auto;
    z-index: 4;
  }
  
  
  .card_summary {
    width:100%;
    min-height: 1rem;
    height: 30rem;
    position: relative;
    top: auto;
    background-color: #EA175D;
    z-index: 20;
    margin: 1rem 0 3rem 0;
    background: linear-gradient(rgba(234, 82, 0, 0.61),rgba(234, 23, 93, 0.76)), url(images/computer.jpg);
    background-size: cover;
background-position: center;
  }


  .card_header {
    justify-content: center;
    height: 3rem;
  }

  .summary_square {
    border-radius: 1.5rem;
    margin: 1rem;
    width: 13rem;
    height: 13rem;
    background-color: white;
    color: #071738;
    box-shadow: 0px -4px 13px -4px rgba(7,23,56,0.47);
    transition: .3s all;
  }

  .updateExpenses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .updateExpenses button {
    margin-top: .5rem;
  }

  #budgetInfo {
    width: 36rem;
  }

  .expenseLog {
    border-radius: 0%;
    box-shadow: none;
    min-height: 30rem;
    height: auto;
    width: 21rem;
    color: white;
    background-color: #EA175D;
    padding: 1rem;
  }

  .card_bills .expenseLog{
background: linear-gradient(rgba(234, 82, 0, 0.74),rgba(234, 23, 93, 0.76)), url(images/bills.jpg);
background-size: cover;
object-fit: cover;
background-position: center;
  }

  .card_food .expenseLog{
    background: linear-gradient(rgba(234, 23, 93, 0.76), rgba(7, 23, 56, 0.562)), url(images/food.jpg);
    background-size: cover;
background-position: center;
  }

  .card_clothes .expenseLog{
    background: linear-gradient(rgba(7, 23, 56, 0.7),rgba(234, 23, 93, 0.76)), url(images/clothes.jpg);
    background-size: cover;
    background-position: center;
  }

  .card_entertain .expenseLog{
    background: linear-gradient(rgba(234, 82, 0, 0.4),rgba(234, 23, 93, 0.76)), url(images/drinks.jpeg);
    background-size: cover;
    background-position: center;
  }

  .totalSpent {
    font-size: 1.2rem;
    text-align: center;
  }

  #yaBroke{
    top: 60%;
    height: 30rem;
    max-width: 70rem;
  }

  #yaBroke p {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translateX(50%)translateY(-50%);

  }

  footer {
    border-radius: 1.5rem;
    display: flex;
    height: 15rem;
  }

  #divvyTeam {
    flex-direction: row;
    margin-top: 1rem;
  }

  #divvyTeam a {
    margin: .5rem 3rem;
  }
}