font-family: 'Paytone One', sans-serif;
font-family: 'Open Sans', sans-serif; 

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
margin: 0;
} 

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  font-family:"open sans";
  color: white;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(7, 23, 56, 0.8),rgba(7, 23, 56, 0.8)), url("images/travel.jpeg");
  background-size: cover;
  box-shadow: 0px 10px 20px -5pxrgba(0,0,0,.8); 
  font-family: "pantone one";
  height: 20rem;
  width: 100%;
  color: white;
}

#subHeader {
  font-family: 'open sans';
  letter-spacing: .5px;
}


main {
  top: -1rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Paytone one', sans-serif;
  font-size: 6rem;
  padding: 1rem;
  margin: 0;
  text-shadow: -4px 3px 5px black;
}

input {
  padding: .4rem;
  border-radius: .4rem;
  height: 2.8rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.397);
  border: none;
  margin: .5rem;
}

button {
  padding: .4rem;
  border-radius: .4rem;
  height: 2.8rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.397);
  border: none;
}

.expenseLog_header {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  border-radius: 1.5rem;
}

#expenseLog_foodOnly{
  background-color: #EA5200;
}

.expenseLog {
  border-radius: 1.5rem;
  box-shadow: 0px 0px 13px -4px rgba(7,23,56,0.47);
  height: 20rem;
  width: 30rem;
  color: white;
  background-color: #EA175D;
  padding: 1rem;
}

.card {
  border-radius: 1rem;
  font-family: 'Paytone one', sans serif;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow:0px -4px 13px -4px rgba(7,23,56,0.47);
  transition: .45s all;
  align-items: center;
  font-family: 'Open Sans', sans-serif; 
  font-size: 1.5rem;
}

.totalSpent {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.card_summary {
  top: 20rem;
  height: 50rem;
  position: absolute;
  background-color: white;
  z-index: 20;
}

.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  /* margin-bottom: 1rem; */
  height: 5rem;
}

.card h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  height: 5rem;
  padding: 1rem;
}

#card_summary_h3 {
  color: #EA175D;
}

.card img {
  height: 2.4rem;
}

.card_bills {
  background-color: #EA5200;
  top: 0;
  z-index: 1;
  position: absolute;
  order: 2;
}

.card_food {
  background-color: #EA175D;
  top: 5rem;
  z-index: 2;
  position: absolute;
  order: 3;
}

.card_clothes {
  background-color: #071738;
  top: 10rem;
  z-index: 3;
  position: absolute;
  order: 4;
}

.card_entertain {
  background-color: #EA5200;
  top: 15rem;
  position: absolute;
  z-index: 4;
  order: 5;
}



.card_expand {
  transform: 3s all;
  z-index: 40;
  top: 5;
  height: 50rem;
}

.summary_sq_container {
  margin-top: .5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.summary_square {
  border-radius: 1.5rem;
  margin: 1rem;
  width: 12rem;
  height: 12rem;
  background-color: #EA175D;
  box-shadow: 0px -4px 13px -4px;rgba(7,23,56,0.47);
  transition: .3s all;
  order: 1;
}

/* .summary_square:hover {
  transform: translateY(3px);
} */

#budgetInfo {
  padding: 1rem;
  text-align: center;
  width: 28rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.397);
}

.weeklyBudgetDisplay {
  font-size: 1.7rem;
    margin: 0;
}



.setBudget {
  margin: 0;
  font-family: "open sans";
  font-size: 1.3rem;
}



#weeklyBudgetInput {
  /* border-radius: .4rem; */
}



.logWrapper{
  display: flex;
  justify-content: space-around;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#yaBroke {
  justify-content: center;
  padding: 1rem;
  z-index: 600;
  height: 20rem;
  width: 80%;
  background: linear-gradient(rgb(234, 23, 93), rgb(234, 82, 0));
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateX(50%)translateY(-50%);
  box-shadow: 0px 0px 37px 4px rgba(0,0,0,.8);
  border-radius: 1.5rem;
  display: none;
  align-items: center;
}

#yaBroke img {
position: absolute;
right: 2rem;
top: 2rem;
height: 3rem;
}

#yaBroke p {
  
  align-self: center;
  font-size: 2rem;
  text-align: center;
}

footer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(234, 23, 93, 0.8), rgba(234, 82, 0, 0.8));
  z-index: 10;
  position: absolute;
  bottom: bottom;
  font-size: 1.3rem;
  margin: 0;
  display: none;
}

footer p {
  margin: 0;
  font-weight: 300;
}

#footer_heading {
  font-family: 'Paytone one', sans-serif;
  font-size: 3.4rem;
  padding: 0;
  margin: 0;
  text-shadow: -4px 3px 5px rgba(0, 0, 0, 0.418);
}


#divvyTeam {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#divvyTeam a{
  text-decoration: none;
  color: white;
  /* font-family: 'Paytone One', sans-serif; */
  font-size: 1.3rem;
  letter-spacing: .2rem;
  margin: .2rem;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#divvyTeam a:hover {
  transform: scale(1.2);
  font-weight: bold;
}
